header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/banner.png);
    background-position: center;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
  
}
nav{
    display: flex;
    padding: 2% 6%;
    align-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
    font-family: poppins;
}
.nav_links ul li::after{
    position: absolute;
    background: #f44336;
    bottom: 0;
    content:'';
    width:80%;
    margin:auto;
    height: 2px;
    left: 6px;
    transition: 2s;
}
.nav_links ul li:hover::after{
    width: 90%;
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 63px;
}
.text-box p{
    margin: 10px o 40px;
    font-size: 14px;
    color: #fff;
}
.user-btn{
 display: inline-block;
 color: white;
 border: 1px solid #fff;
 text-decoration: none;
 padding: 12px 34px;
 background:transparent;
 cursor: pointer;
 position: relative;

}
.user-btn:hover{
    background:red;
    transition: 1s;
    border:aqua;
}